.checkbox-module{
    display: flex;
    align-items: center;
    cursor: pointer;
    input{
        display: none;
    }
    input+span{
        display: inline-block;
        background-color: #fff;
        border-radius: 100%;
        border:1px solid #ccc;
        position: relative;
        width: 32px;
        height: 32px;
        vertical-align: middle;
        margin-right: 15px;
    }
    input+span:after{
        border: 2px solid transparent;
        border-left: 0;
        border-top: 0;
        content: " ";
        top: 4px;
        left: 9px;
        position: absolute;
        width: 8px;
        height: 14px;
        -webkit-transform: rotate(45deg) scale(0);
        transform: rotate(45deg) scale(0);
        -webkit-transition: -webkit-transform .2s;
        transition: -webkit-transform .2s;
        transition: transform .2s;
    }
    input:checked+span{
        background-color:$cl-red;
        border-color: $cl-red;
    }
    input:checked+span:after{
        border-color: #fff;
        -webkit-transform: rotate(45deg) scale(1);
        transform: rotate(45deg) scale(1);
    }
    input:disabled+span{
        background-color: #d9d9d9;
    }

    .text{

    }
}