.as-checklist{
    .mint-checkbox-label{
        color: #333333;
        padding: 0;
        margin: 0;
    }
    .mint-checklist-label{
        padding: 0;
        cursor: pointer;
    }
    .mint-checklist-title{
        display: none;
    }
    .mint-cell-wrapper{
        height: 100%;
        background: none;
        padding: 0;
    }
    .mint-checkbox-core{
        height: 30px;
        width: 30px;
        &:after{
            top: 4px;
            left: 8px;
            width: 6px;
            height: 12px;
            border: 3px solid transparent;
            border-left: 0;
            border-top: 0;
        }
    }
    .mint-checkbox-input:checked + .mint-checkbox-core{
        background-color:  $cl-red;
        border-color:  $cl-red;
        border-width: 3px;
    }
    .mint-cell{
        background: none!important;
        padding: 0;
    }
}

.as-radiolist{
    .mint-radio-label{
        color: #333333;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }
    .mint-cell-title{

    }
    .mint-radiolist-label{
        padding: 0;
        height: 100%;
        cursor: pointer;
    }
    .mint-radiolist-title{
        display: none;
    }
    .mint-cell-wrapper{
        height: 100%;
        background: none;
        padding: 0;
    }
    .mint-radio-core{
        height: 30px;
        width: 30px;
        &:after{
            top: 5px;
            left: 9px;
            width: 6px;
            height: 12px;
            border: 3px solid transparent;
            border-left: 0;
            border-top: 0;
            content: " ";
            position: absolute;
            transform: rotate(45deg) scale(0);
            transition: transform .2s;
            background: transparent;
        }
    }
    .mint-radio-input:checked + .mint-radio-core{
        background-color:  $cl-red;
        border-color:  $cl-red;
        &:after{
            border-color: #fff;
            border-width: 3px;
            background-color: transparent;
            -webkit-transform: rotate(45deg) scale(1);
            transform: rotate(45deg) scale(1);
            border-radius: 0;
        }
    }
    .mint-cell{
        background: none!important;
        padding: 0;
    }
}

.v-modal{
    width: 750px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
}

.mint-toast{
    z-index: 9000!important;
    padding: 30px !important;
    .mint-toast-text{
        font-size: 24px;
    }
}

.as-pagination{
    .swiper-pagination-bullet{
        width: 20px;
        height: 4px;
        background: #ddd;
        border-radius: 100px;
        opacity: 1;
        transition: all .4s ease;
        &-active{
            width: 40px;
            height: 6px;
            background: #FF6800 ;
        }
    }
}