$image-base-path: '../assets/images/';


%linear-base{
    background-image: linear-gradient(to right,#8CC223,#57A771);
}
%linear-base-reverse{
    background-image: linear-gradient(to right,#57A771,#8CC223);
}

%linear-blue{
    background: linear-gradient(to right, #0185CF, #1A8FB4, #359A96);
}
%linear-orange{
    background:linear-gradient(to right, #f7961f, #ffc927) !important;
}

%shadow-banner{
    box-shadow: 0 8px 16px 0 #C9C9C9;
}
%shadow-list{
    box-shadow: 0 2px 6px 0 #EAEAEA;
}
%shadow-item{
    box-shadow: 0 5px 10px 0 #E8E8E8;
}
%shadow-center-list{
    box-shadow: 0 5px 10px 0 #E8E8E8;
}
%centerY {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
%centerX {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin bg($URI, $w: null, $h: null, $x: top, $y: center, $repeat: no-repeat) {
    @if $w and $h {
        width: $w;
        height: $h;
    }
    background: url('#{$image-base-path}#{$URI}') $repeat $x $y;
    background-size: 100% 100%;
}

@mixin ellipsis($clamp:1){
    overflow: hidden;
    text-overflow: ellipsis;
    @if($clamp==1){
        white-space: nowrap;
    }@else{
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: $clamp;
        -webkit-box-orient: vertical;
    }
}

@mixin flex($x:flex-start,$y:flex-start,$direction:row,$wrap:nowrap){
    display: flex;
    align-items: $y;
    justify-content: $x;
    flex-direction: $direction;
    flex-wrap:$wrap;
}

