$cl-font-base:#333;
$cl-font-light:#999;

$cl-font-price:#ff0000;
$cl-font-red:#FF4300;

$cl-bg:#f1f2f3;
$cl-border:#eee;
$cl-orange:#FF6800;
$cl-font-orange: #FFC259;

$cl-yellow:#FFB620;

$radius-small: 6px;
$radius-big: 10px;

$cl-font-blue:#52A8FF;
$cl-red:#FF4D00;
$cl-green:green;
$dim-gray:#ccc;

$cl-checkbox: #FF4D00;