.as-radiolist{
    .mint-checkbox-label{
        color: #333333;
        padding: 0;
        margin: 0;
    }
    .mint-radiolist-label{
        padding: 0;
    }
    .mint-radiolist-title{
        display: none;
    }
    .mint-cell-wrapper{
        height: 100%;
        background: none;
        padding: 0;
    }
    .mint-checkbox-core{
        height: 30px;
        width: 30px;
        &:after{
            top: 4px;
            left: 8px;
            width: 6px;
            height: 13px;
        }
    }
    .mint-checkbox-input:checked + .mint-checkbox-core{
        background-color:  $cl-red;
        border-color:  $cl-red;
    }
    .mint-cell{
        background: none!important;
        padding: 0;
    }
}
